<%- include("partials/header.ejs") %>

    <section>

        <h1>Blogger</h1>
        <p>Register your thoughts</p>

        <form action="/create" method="GET" class="button-form">
            <input type="submit" value="Create a blog.">
        </form>

        <div class="myBlogs">
            <h2>Your Blogs</h2>

            <div class="blogs">
                <% if(locals.posts && posts.length> 0){ %>
                    <ul class="post-cover">
                        <% posts.forEach(post=> { %>
                            <li class="post-preview">
                                <%= post.name %>
                                <p><%= post.body %></p>
                            </li>
                            <% }) %>
                    </ul>
                    <% } else {%>
                        <p>Nothing to show here 🤷‍♂️</p>
                        <% } %>

            </div>
        </div>
    </section>


    <%- include("partials/footer.ejs") %>