body{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header{
    background-color: black;
    height: 10vh;
    /* padding: 8px; */
}

footer{
    height: 15vh;
    background-color: black;
    color: white;
    padding: 20px 10px 5px 10px;
}

nav{
    padding: 12px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo{
    font-size: 22px;
    text-decoration: none;
    color: white;
}

ul{
    list-style: none;
    width: 20vw;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

a{
    text-decoration: none;
    color: white;
}

h1, h2, h3{
    font-weight: 200;
    line-height: 1.1;
    margin: 0;
}

h1{
    font-size: 32px;
}

h2{
    font-size: 24px;
}

h3{
    font-size: 18px;
}

p{
    font-size: 16px;
    color: hsl(0, 0%, 50%);
}



section{
    padding: 40px 80px;
    height: calc(90vh);
    background-color: beige;
    overflow-y: scroll;
}

.button-form{
    margin: 40px 0;
}

input[type = "submit"]{
    padding: 10px 40px;
    font-size: 16px;
    color: white;
    background-color: black;
    cursor: pointer;
}

.myBlogs{
    padding: 20px 0;
    border-top: 1px solid hsl(0, 0%, 50%);
}

.myBlogs h2 ul{
    list-style: circle;
}

.myBlogs h2 ul li{
    padding: 5px 0;
}

form{
    margin: 40px auto;
    border: none;
}

form label{
    font-size: 18px;
}

form input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid hsl(0, 0%, 50%);
    margin-bottom: 20px;
    padding: 10px ;
    font-size: 16px;
}

textarea{
    background-color: transparent;
    border: 1px solid hsl(0, 0%, 50%);
    margin-top: 5px;
    padding: 10px;
    font-size: 16px;
    width: 100%;
}

.a-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-preview{
    font-style: italic;
    font-size: 16px;

}

.post-cover{
    display: flex;
    width: 90%;
    padding: 10px;
    border: 1px solid red;
}